@font-face {
    font-family: 'San Francisco';
    src: url('./audio_fonts/SanFranciscoDisplay-Regular.otf');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: 'San Francisco';
    margin-right: 10%;
    margin-left: 10%;
    
}



.container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(6, 100px);
    gap: 5px 5px;
    justify-items: center;
    align-items: center;
    background-color: black;
    padding: 20px;
    height: 800px;
    border-radius: 20px;
    padding-top: 125px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    

}



.btn-cmd {
    background-color: rgb(153, 153, 153);
    color: black;
}

.btn-dig {
    background-color: rgb(70, 69, 69);
    color: white;
}

.btn-op, .btn-eql {
    background-color: orange;
    color: white;
}

.container>* {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 90px;
    width: 90px;
    border: none;
    font-size:40px;
    transition: all 0.3s linear;
}


.container>.d0 { 
    grid-column: 1/span 2;
    width: 200px;
    height: 90px;
    border-radius: 50px;
    justify-content: flex-start;
    padding-left: 30px;
    
}

.container>.results {
    color: white;
    grid-column: 1/ span 4;
    justify-content: flex-end;
    font-size: 100px;
    text-align: right;
    width: 100%;
    max-width: 400px;
    padding-bottom: 20px;
    padding-right: 10px;

    
}



.toggleBtn {
    background-color: white;
    color: orange;
}